/*
========================================================================================
    Configuration File
========================================================================================
*/

manifest {
    name            = 'RNA-seq Pipeline'
    author          = 'Swattik'
    description     = 'RNA-seq pipeline'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=23.04.0'
    version         = '1.0.0'
}

// Global default params
params {
    // Input/output options
    reads          = "/home/user1/RNA-seq/data/*_{1,2}.fastq.gz"
    genome         = "/home/user1/test/reference/resources_broad_hg38_v0_Homo_sapiens_assembly38.fasta"
    gtf            = "/home/user1/RNA-seq/rnaseq-pipeline/gencode.v49.chr_patch_hapl_scaff.annotation.gtf"
    star_index   = "star_index"
    outdir         = "results"
    

    // Max resource options
    max_memory     = '12.GB'
    max_cpus       = 8
    max_time       = '48.h'
}

// Process-specific resource requirements
process {
    // Default resources
    cpus   = 1
    memory = '4.GB'
    time   = '2.h'
    
    withName: 'FASTQC' {
        cpus   = 2
        memory = '4.GB'
    }
    
    withName: 'FASTP' {
        cpus   = 4
        memory = '8.GB'
    }
    
    withName: 'BUILD_STAR_INDEX' {
        cpus   = 8
        memory = '10.GB'
        time   = '4.h'
    }
    
    withName: 'STAR_ALIGN' {
        cpus   = 8
        memory = '12.GB'
        time   = '6.h'
    }
    
    withName: 'SAM_TO_BAM' {
        cpus   = 4
        memory = '8.GB'
    }
    
    withName: 'SORT_BAM' {
        cpus   = 4
        memory = '8.GB'
    }
    
    withName: 'INDEX_BAM' {
        cpus   = 2
        memory = '4.GB'
    }
    
    withName: 'FEATURECOUNTS' {
        cpus   = 4
        memory = '8.GB'
        time   = '4.h'
    }
    
    withName: 'MULTIQC' {
        cpus   = 1
        memory = '4.GB'
    }
}

// Execution profiles
profiles {
    standard {
        process.executor = 'local'
    }
    
    slurm {
        process.executor = 'slurm'
        process.queue = 'normal'
    }
    
    sge {
        process.executor = 'sge'
        process.penv = 'smp'
    }
    
    aws {
        process.executor = 'awsbatch'
        process.queue = 'default'
        aws.region = 'us-east-1'
    }
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

// Reporting options
timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_timeline.html"
}

report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_report.html"
}

trace {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_trace.txt"
}

dag {
    enabled = true
    file    = "${params.outdir}/pipeline_info/pipeline_dag.svg"
}
